@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Maven Pro", sans-serif;
}
p,button {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.fontMavenPro {
  font-family: "Maven Pro", sans-serif;
}
.fontDmSans {
  font-family: "Maven Pro", sans-serif;
}
label{
  @apply block mb-2 text-sm font-medium text-gray-900 peer-disabled:cursor-not-allowed peer-disabled:opacity-70
}
input, select {
  @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 disabled:cursor-not-allowed disabled:opacity-50
}
.dropdownLink {
  @apply flex w-full items-center rounded-md px-2 py-2
}
.buttonRed {
  @apply w-full sm:w-auto flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary
}
.restList{
  @apply absolute rounded-md transition-all bottom-3 left-3 right-3 p-3 w-auto bg-secondary/80 flex flex-col justify-end
}